
/audio/
/firmware/slackdsp_mini.zip
/firmware/package.log
/firmware/nbproject/Makefile-genesis.properties
/firmware/nbproject/Makefile-impl.mk
/firmware/nbproject/Makefile-local-default.mk
/firmware/nbproject/Makefile-variables.mk
/firmware/nbproject/Package-default.bash
/firmware/nbproject/private/configurations.xml
/firmware/nbproject/private/private.properties
/firmware/nbproject/private/private.xml
/firmware/build/default/production/WM8510.o
/firmware/build/default/production/WM8510.o.d
/firmware/build/default/production/slackdsp_mini.o
/firmware/build/default/production/slackdsp_mini.o.d
/firmware/build/default/production/slackdsp_mini_main.o
/firmware/build/default/production/slackdsp_mini_main.o.d
/firmware/build/default/production/sram.o
/firmware/build/default/production/sram.o.d
/firmware/disassembly/listing.disasm
/firmware/dist/default/production/firmware.production.elf
/firmware/dist/default/production/firmware.production.hex
/firmware/dist/default/production/firmware.production.map
/firmware/nbproject/Makefile-default.mk
/70188E.pdf
/dspic33FJ128GP804.pdf
/logpot.csv
/logpot.ods
/bootloader/
/hardware/Gerbers/drill_template.pdf
/hardware/Gerbers/output.pdf
/hardware/Gerbers/slackdspic-B_Cu.gbl
/hardware/Gerbers/slackdspic-B_Mask.gbs
/hardware/Gerbers/slackdspic-Eco1_User.gbr
/hardware/Gerbers/slackdspic-Edge_Cuts.gbr
/hardware/Gerbers/slackdspic-F_Cu.gtl
/hardware/Gerbers/slackdspic-F_Mask.gts
/hardware/Gerbers/slackdspic-F_SilkS.gto
/hardware/Gerbers/slackdspic.drl
/hardware/file53C7FB52.bak
/hardware/file53C7FB52.sch
/hardware/slackdspic-cache.lib
/hardware/slackdspic.bak
/hardware/slackdspic.dsn
/hardware/slackdspic.hardware_pcb-bak
/hardware/slackdspic.net
/hardware/slackdspic.pdf
/hardware/slackdspmini18112014.zip

