/audio/clean.wav
/audio/delay.aup
/audio/delay_data/e00/d00/e00002dd.au
/audio/delay_data/e00/d00/e0000321.au
/audio/delay_data/e00/d00/e00003c6.au
/audio/delay_data/e00/d00/e00003e1.au
/audio/delay_data/e00/d00/e0000464.au
/audio/delay_data/e00/d00/e000050f.au
/audio/delay_data/e00/d00/e0000564.au
/audio/delay_data/e00/d00/e00005cd.au
/audio/delay_data/e00/d00/e000065d.au
/audio/delay_data/e00/d00/e0000729.au
/audio/delay_data/e00/d00/e000081c.au
/audio/delay_data/e00/d00/e0000867.au
/audio/delay_data/e00/d00/e00009cc.au
/audio/delay_data/e00/d00/e0000aef.au
/audio/delay_data/e00/d00/e0000af1.au
/audio/delay_data/e00/d00/e0000b91.au
/audio/delay_data/e00/d00/e0000b92.au
/audio/delay_data/e00/d00/e0000b9b.au
/audio/delay_data/e00/d00/e0000c16.au
/audio/delay_data/e00/d00/e0000d26.au
/audio/delay_data/e00/d00/e0000f10.au
/audio/filter.aup
/audio/filter_data/e00/d00/e0000159.au
/audio/filter_data/e00/d00/e0000297.au
/audio/filter_data/e00/d00/e000029b.au
/audio/filter_data/e00/d00/e0000476.au
/audio/filter_data/e00/d00/e00006b2.au
/audio/filter_data/e00/d00/e0000a88.au
/audio/filter_data/e00/d00/e0000ca2.au
/audio/filter_data/e00/d00/e0000f38.au
/audio/pitches.aup
/audio/pitches_data/e00/d00/e0000002.au
/audio/pitches_data/e00/d00/e0000014.au
/audio/pitches_data/e00/d00/e00000f9.au
/audio/pitches_data/e00/d00/e000022c.au
/audio/pitches_data/e00/d00/e000029d.au
/audio/pitches_data/e00/d00/e000029f.au
/audio/pitches_data/e00/d00/e00004bd.au
/audio/pitches_data/e00/d00/e000085c.au
/audio/pitches_data/e00/d00/e000090b.au
/audio/pitches_data/e00/d00/e0000b0b.au
/audio/pitches_data/e00/d00/e0000d12.au
/audio/pitches_data/e00/d00/e0000eeb.au
/audio/reverse.aup
/audio/reverse_data/e00/d00/e00002ca.au
/audio/reverse_data/e00/d00/e0000311.au
/audio/reverse_data/e00/d00/e0000353.au
/audio/reverse_data/e00/d00/e000042f.au
/audio/reverse_data/e00/d00/e00006fd.au
/audio/reverse_data/e00/d00/e00008ed.au
/audio/reverse_data/e00/d00/e000092e.au
/audio/reverse_data/e00/d00/e0000a41.au
/audio/reverse_data/e00/d00/e0000b6f.au
/audio/reverse_data/e00/d00/e0000c12.au
/audio/reverse_data/e00/d00/e0000e08.au
/audio/reverse_data/e00/d00/e0000ee0.au
/audio/ringmod.aup
/audio/ringmod_data/e00/d00/e0000131.au
/audio/ringmod_data/e00/d00/e000024b.au
/audio/ringmod_data/e00/d00/e000037f.au
/audio/ringmod_data/e00/d00/e0000646.au
/audio/ringmod_data/e00/d00/e00007b5.au
/audio/ringmod_data/e00/d00/e00007dc.au
/audio/ringmod_data/e00/d00/e00008cc.au
/audio/ringmod_data/e00/d00/e0000ba2.au
/audio/ringmod_data/e00/d00/e0000c1a.au
/audio/ringmod_data/e00/d00/e0000cc6.au
/audio/ringmod_data/e00/d00/e0000dbf.au
/audio/ringmod_data/e00/d00/e0000e6a.au
/slackdsp_mini.X/slackdsp_mini.zip
/slackdsp_mini.X/package.log
/slackdsp_mini.X/nbproject/Makefile-genesis.properties
/slackdsp_mini.X/nbproject/Makefile-impl.mk
/slackdsp_mini.X/nbproject/Makefile-local-default.mk
/slackdsp_mini.X/nbproject/Makefile-variables.mk
/slackdsp_mini.X/nbproject/Package-default.bash
/slackdsp_mini.X/nbproject/private/configurations.xml
/slackdsp_mini.X/nbproject/private/private.properties
/slackdsp_mini.X/nbproject/private/private.xml
/slackdsp_mini.X/build/default/production/WM8510.o
/slackdsp_mini.X/build/default/production/WM8510.o.d
/slackdsp_mini.X/build/default/production/slackdsp_mini.o
/slackdsp_mini.X/build/default/production/slackdsp_mini.o.d
/slackdsp_mini.X/build/default/production/slackdsp_mini_main.o
/slackdsp_mini.X/build/default/production/slackdsp_mini_main.o.d
/slackdsp_mini.X/build/default/production/sram.o
/slackdsp_mini.X/build/default/production/sram.o.d
/slackdsp_mini.X/disassembly/listing.disasm
/slackdsp_mini.X/dist/default/production/slackdsp_mini.X.production.elf
/slackdsp_mini.X/dist/default/production/slackdsp_mini.X.production.hex
/slackdsp_mini.X/dist/default/production/slackdsp_mini.X.production.map
/slackdsp_mini.X/exmaples.c
/slackdsp_mini.X/nbproject/Makefile-default.mk
/70188E.pdf
/dspic33FJ128GP804.pdf
/logpot.csv
/logpot.ods
/bootloader/
/kicad/Gerbers/drill_template.pdf
/kicad/Gerbers/output.pdf
/kicad/Gerbers/slackdspic-B_Cu.gbl
/kicad/Gerbers/slackdspic-B_Mask.gbs
/kicad/Gerbers/slackdspic-Eco1_User.gbr
/kicad/Gerbers/slackdspic-Edge_Cuts.gbr
/kicad/Gerbers/slackdspic-F_Cu.gtl
/kicad/Gerbers/slackdspic-F_Mask.gts
/kicad/Gerbers/slackdspic-F_SilkS.gto
/kicad/Gerbers/slackdspic.drl
/kicad/file53C7FB52.bak
/kicad/file53C7FB52.sch
/kicad/slackdspic-cache.lib
/kicad/slackdspic.bak
/kicad/slackdspic.dsn
/kicad/slackdspic.kicad_pcb-bak
/kicad/slackdspic.net
/kicad/slackdspic.pdf
/kicad/slackdspmini18112014.zip

